@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body{background-color:#f5f1ec;color:#626262;font-family:'Lato', sans-serif;}
.navbar{background-color:white;height:56px;padding-left:0;padding-right:0;z-index:1000;}
.navbar .navbar-brand{font-size:15px;line-height:35px;font-weight:bold;}
.navbar .navbar-brand .icon{width:35px;height:auto;}
.btn:focus, .button:focus{outline:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

.admin-menu-cont{position:relative;height:calc(100vh - 56px);max-height:calc(100vh - 56px);border-right:1px solid #dddddd;box-shadow:0 1px 1px #d8d8d8;padding:10px 10px 10px 0;}
.admin-menu-cont .admin-menu, .admin-menu-cont .admin-menu1{display:block;width:100%;font-size:14.5px;letter-spacing:0.5px;line-height:19px;color:#626262;padding:6px 15px;margin-bottom:2px;border-left:5px solid #f6f6f6;font-weight:bold;}
.admin-menu-cont .admin-menu1{padding-left:46px;color:#acacac;padding-right:0;}
.admin-menu-cont .admin-menu i{font-size:18px;margin-right:10px;}
.admin-menu-cont .admin-menu:hover, .admin-menu-cont .admin-menu1:hover{background-color:#eaeaea;text-decoration:none;}
.admin-menu-cont .admin-subheading{display:block;width:100%;font-size:12.5px;letter-spacing:0.5px;line-height:19px;color:#626262;padding:6px 15px;margin-bottom:2px;font-weight:bold;text-decoration:none;}
.admin-menu-cont .admin-menu.settings{position:absolute;bottom:15px;width:calc(100% - 15px);}

.admin-menu-cont .admin-menu.store{display:inline-block;width:78%;cursor:pointer;}
.storeBtn{display:inline-block;float:right;padding:5px 12px;border-radius:0;}
.storeBtn:hover{background-color:#eaeaea;}
.collapse{margin-bottom:7px;}

.admin-main-cont{padding:30px 25px;height:calc(100vh - 56px);max-height:calc(100vh - 56px);overflow-y: scroll;}

.home-left{padding:30px;}
.home-right{min-height:calc(100vh - 56px);background-color:white;-webkit-box-shadow:0 -1px 3px #d8d8d8;-moz-box-shadow:0 -1px 3px #d8d8d8;box-shadow:0 -1px 3px #d8d8d8;padding:30px;}

.media-img, .media-max{width:100%;height:auto;border:1px solid #dddddd;border-radius:0.5rem;cursor:pointer;transition:0.3s;}
.media-max{border-style:dashed;}
.media-img:hover, .media-max:hover{opacity:0.9;}

.heading1{font-size:20px;margin-bottom:25px;}
.heading2{font-size:20px;margin-bottom:0;}
.subtext1{font-size:14px;}
.subtext2{font-size:17px;font-weight:bold;}

.block1, .block2, .block3, .block4, .block5{display:inline-block;margin-right:8px;width:fit-content;font-size:13px;padding:3px 10px;border-radius:24px;background-color:#eaeaea;}
.block1 i, .block2 i, .block3 i, .block5 i{margin-right:5px;}
.block2{background-color:#ffea8a;}
.block3{background-color:#bbe5b3;}
.block4{background-color:#ffc58b;}
.block5{background-color:#edc4bc;}

.btn-primary{background-color:#626262;border-color:#626262;}
.btn-primary:hover{background-color:#626262;border-color:#626262;}
.btn-secondary{background-color:transparent;color:#626262;border-color:#626262;}
.btn-secondary:hover{background-color:transparent;color:#626262;border-color:#626262;}
.btn-link{color:#626262;font-weight:bold;font-size:14px;}
.btn-link:hover{color:#626262;text-decoration:none;}
.btn-danger{background-color:transparent;color:red;font-size:14px;border-color:red;}
.btn-danger:hover{background-color:transparent;color:red;text-decoration:none;}

.info-cont, info-cont1{background-color:white;font-size:14px;padding:25px;margin-bottom:30px;border-radius:0.5rem;-webkit-box-shadow:0 0 3px #d8d8d8;-moz-box-shadow:0 0 3px #d8d8d8;box-shadow:0 0 3px #d8d8d8;}
.info-cont1{background-color:#f9fafb;}
.info-cont-heading{font-size:16px;letter-spacing:0.7px;font-weight:bold;margin-bottom:30px;}
.info-cont-subheading{font-size:14px;font-weight:bold;margin-bottom:20px;}
.info-cont-divider{border-top:1px solid #dddddd;height:1px;margin:25px 0;}

.info-cont .nav-pills .nav-item{margin-right:10px;}
.info-cont .nav-pills .nav-link{color:#acacac;}
.info-cont .nav-pills .nav-link:hover{border-radius:0;border-bottom:3px solid #acacac;}
.info-cont .nav-pills .nav-link.active{border-radius:0;border-bottom:3px solid #626262;color:#626262;background-color:white;}

.table-row{cursor:pointer;}
.table-row:hover, .table-row1:hover{background-color:#eaeaea;}

.pro-flex{display:flex;}
.img-block{background-color:#fafafa;border:1px solid #dddddd;width:50px;height:50px;background-repeat:no-repeat;background-position:center;position:relative;margin-right:25px;background-size:auto 100%;}
.img-block .item-count{position:absolute;top:-10px;right:-10px;display:block;width:20px;height:20px;border-radius:50%;background-color:#dddddd;color:black;text-align:center;line-height:20px;font-size:12px;}
.text-block{width:calc(100% - 50px);height:100%;}
.portrait{width:70%;height:auto;}

.tick{color:green;margin-right:8px;}
.untick{color:#ffc58b;margin-right:8px;}
.cross{color:#edc4bc;margin-right:8px;}
.round{color:green;margin-right:8px;}
.middleDot{font-size:5px;margin-right:4px;}

form .row{padding-bottom:20px;}
.proButtons{border-top:1px solid #dddddd;padding-top:20px;}
.priceInput{padding-left:34px;}
.rupeeIcon{position:absolute;left:20px;bottom:11px;}
.percentageInput{padding-right:34px;}
.percentIcon{position:absolute;right:20px;bottom:11px;}

.inputfile{width:0.1px;height:0.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.inputfile+label{font-size:16px;color:#626262;background-color:white;display:inline-block;padding:10px 20px;border-radius:0.25rem;border:1px solid #dddddd;}
.inputfile:focus+label,.inputfile+label:hover{background-color:#dddddd}
.inputfile+label{cursor:pointer}
.inputfile:focus+label{outline:1px dotted #000;outline:-webkit-focus-ring-color auto 5px}
.inputfile + label * {pointer-events:none;}

.inputfile1{width:0.1px;height:0.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.inputfile1+label{font-size:16px;color:#626262;background-color:white;display:inline-block;padding:10px 20px;border-radius:0.25rem;border:1px solid #dddddd;}
.inputfile1:focus+label,.inputfile1+label:hover{background-color:#dddddd}
.inputfile1+label{cursor:pointer}
.inputfile1:focus+label{outline:1px dotted #000;outline:-webkit-focus-ring-color auto 5px}
.inputfile1 + label * {pointer-events:none;}

.settings-block{padding-top:15px;border-radius:0.5rem;}
.settings-block i{font-size:25px;}
.settings-block:hover{background-color:#fafafa;padding-top:15px;}
.tax-flag{width:30px;height:auto;margin-right:20px;}

.dateBtn{background-color:white;width:100%;text-align:left;border:1px solid #ced4da;line-height:2.2;letter-spacing:1px;border-radius:0.25rem;padding-left:37px;}
.calenderIcon{position:absolute;left:20px;bottom:11px;}

.check-avlb{width:100%;height:90px;}
.engine input{background-color:transparent;border:none;width:160px;cursor:pointer;color:white;letter-spacing:2px;}

.tagProductsImg{width:800px;height:auto;}
.tagProductsImg:hover{cursor: url('/images/tag.png'),e-resize;}

.pagination-cont{margin-top:30px;}
.pagination-cont .pagination{justify-content:center;}